<footer class="footer bg-black">
  <div class="container">
    <div class="d-flex justify-content-between gap-10 flex-column flex-lg-row">
        <div class="footer-info">
            <a href="./">
                <img src="/assets/images/LOGO-light.png" alt="logo">
            </a>
            <ul class="d-flex gap-8 mt-sm-8 mt-10 flex-sm-row flex-column">
                <li>
                    <a href="#">
                        <p class="text-white">常見問題</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p class="text-white">關於我們</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p class="text-white">隱私權政策</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <p class="text-white">使用者條款</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-link d-flex flex-column justify-content-center">
            <ul class="d-flex gap-4 justify-content-lg-end justify-content-start">
                <li>
                    <a href="#">
                        <img src="/assets/images/line.svg" alt="line">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/images/youtube.svg" alt="youtube">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/assets/images/fb.svg" alt="fb">
                    </a>
                </li>
            </ul>
            <p class="mt-4">
                copyright © 2025 ZOBAA 旅遊網站 All Rights Reserved.
            </p>
        </div>
    </div>
  </div>
</footer>
