<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <%- include('./layout/head'); -%>
    <title>ZOBAA !</title>
  </head>
  <body>
    <!-- <%- include('./layout/header'); -%> -->
    <main>
      <section class="d-flex login">
        <div class="swiperBox py-10 px-10 d-none d-lg-block">
          <div class="swiper swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                <div class="swiperMain">
                  <div class="imgBox">
                    <img
                      src="/assets/images/login/image_01.jpg"
                      class="h-full"
                      alt=""
                    />
                  </div>
                  <div
                    class="mainBox d-flex flex-column justify-content-between"
                  >
                    <div class="p-8">
                      <img src="/assets/images/login/image_title.svg" alt="" />
                    </div>
                    <div class="textBox px-8 pb-18">
                      <div class="title"># ZOBAAAAA !</div>
                      <div class="text">
                        把旅行變成，<br />
                        生活的養分。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiperMain">
                  <div class="imgBox">
                    <img
                      src="/assets/images/login/image_02.jpg"
                      class="h-full"
                      alt=""
                    />
                  </div>
                  <div
                    class="mainBox d-flex flex-column justify-content-between"
                  >
                    <div class="p-8">
                      <img src="/assets/images/login/image_title.svg" alt="" />
                    </div>
                    <div class="textBox px-8 pb-18">
                      <div class="title"># ZOBAAAAA !</div>
                      <div class="text">
                        把旅行變成，<br />
                        生活的養分。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="swiperMain">
                  <div class="imgBox">
                    <img
                      src="/assets/images/login/image_03.jpg"
                      class="h-full"
                      alt=""
                    />
                  </div>
                  <div
                    class="mainBox d-flex flex-column justify-content-between"
                  >
                    <div class="p-8">
                      <img src="/assets/images/login/image_title.svg" alt="" />
                    </div>
                    <div class="textBox px-8 pb-18">
                      <div class="title"># ZOBAAAAA !</div>
                      <div class="text">
                        把旅行變成，<br />
                        生活的養分。
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination my-pagination"></div>
          </div>
        </div>
        <div class="loginInfo d-flex align-items-center justify-content-center">
          <div class="loginInfoMain">
            <div class="mb-10">
              <h1 class="mb-10">歡迎回來！</h1>
              <ul class="d-flex flex-column gap-4">
                <li>
                  <div class="loginBox">
                    <button type="button" class="btn btn-outline-secondary">
                      使用 Google 帳號登入
                    </button>
                    <img src="/assets/images/google.svg" alt="google" />
                  </div>
                </li>
                <li>
                  <div class="loginBox">
                    <button type="button" class="btn btn-outline-secondary">
                      使用 Facebook 帳號登入
                    </button>
                    <img src="/assets/images/facebook.svg" alt="facebook" />
                  </div>
                </li>
                <li>
                  <div class="loginBox">
                    <button type="button" class="btn btn-outline-secondary">
                      使用 Apple 帳號登入
                    </button>
                    <img src="/assets/images/apple.svg" alt="apple" />
                  </div>
                </li>
              </ul>
            </div>
            <div class="mb-10">
              <h6 class="pb-4 fs-4">或使用 ZOBAA 帳號登入</h6>
              <form class="row needs-validation" novalidate>
                <div class="col-12">
                  <div class="pb-4">
                    <label for="validationCustom01" class="form-label">
                      電子信箱
                      <span class="text-danger">*</span>
                    </label>
                    <input
                      type="email"
                      class="form-control"
                      id="validationCustom01"
                      value=""
                      required
                      placeholder="請輸入電子信箱"
                    />
                    <div class="valid-feedback">請輸入電子信箱</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="pb-3">
                    <label for="validationCustom02" class="form-label">
                      密碼
                      <span class="text-danger">*</span>
                    </label>
                    <input
                      type="password"
                      class="form-control"
                      id="validationCustom02"
                      value=""
                      required
                      placeholder="請輸入密碼"
                    />
                    <div class="valid-feedback">請輸入密碼</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="pb-3">
                    <label for="validationCustom02" class="form-label">
                      確認密碼
                      <span class="text-danger">*</span>
                    </label>
                    <input
                      type="password"
                      class="form-control"
                      id="validationCustom02"
                      value=""
                      required
                      placeholder="請再輸入一次密碼"
                    />
                    <div class="valid-feedback">請輸入密碼</div>
                  </div>
                </div>
                <div class="col-12 mt-10 mb-4">
                  <button class="btn btn-primary w-full fw-bold" type="submit">
                    立即註冊
                  </button>
                </div>
              </form>
              <div class="d-flex signBox">
                <p>建立帳號即表示您同意我們的</p>
                <a
                  href="#"
                  class="link-offset-1 mx-2 link-underline-primary"
                  style="color: #4a3830"
                >
                  服務條款
                </a>
                <p>及</p>
                <a
                  href="#"
                  class="link-offset-1 mx-2 link-underline-primary"
                  style="color: #4a3830"
                >
                  隱私權政策
                </a>
              </div>
            </div>
            <div class="d-flex signBox">
              <p>已經有 ZOBAA 帳號了嗎？</p>
              <a
                href="login.html"
                class="link-offset-1 fw-bold mx-2 link-underline-primary"
                style="color: #4a3830"
              >
                立即登入
              </a>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- <%- include('./layout/footer'); -%> -->

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/login.js"></script>
  </body>
</html>
